<p class="question">¿Desea instalar datos COVID-19 en tu municipio?</p>
<div class="container">
  <img src="../../assets/icons/icon-128x128.png" alt="" />
  <div class="text">    
    <p class="pWithIcon"><mat-icon>storage</mat-icon> Tamaño: 0,42 MB</p>
    <p class="pWithIcon"><mat-icon>security</mat-icon> Aplicación verificada</p>
    <p class="pWithIcon"><mat-icon>verified</mat-icon> Datos oficiales de la Junta de Andalucía</p>    
  </div>
</div>
<div class="buttons">
    <button mat-raised-button (click)="action(false)"><mat-icon>clear</mat-icon> No</button>
    <button mat-raised-button class="backgroundPrimary" (click)="action(true)"><mat-icon>thumb_up</mat-icon> Sí, instalar</button>
  </div>
