/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

:root{
    --primaryColor:white;   
    --backgroundColor: #5851ec;
}

body{
    background-color: var(--backgroundColor)
}

.backgroundPrimary{
    background-color: var(--backgroundColor);
}

.backgroundAccent{
    background-color: orange;
    color: black;    
}
